body{
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
}
@media (max-width:800px){ /*mobile*/
    nav>a{
        display:none;
    }
    .icon-container{
        display:inline;
        position:relative;
        width:50px;
        height:50px;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .icon-container .icon{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .icon-container .icon.active{
        opacity:1;
        z-index:1;
    }
    .icon-container .icon.inactive{
        opacity:0;
        z-index:0;
        top: 20%;
        left:20%;
        width:30px;
        height:30px;
    }
    .icon-container .icon.active,
    .icon-container .icon.inactive{
        animation-duration:0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes turn-on {
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }
    @keyframes turn-off {
        from{
            opacity:1;
        }
        to{
            opacity:0;
        }
    }
    @keyframes show-dropdown-menu{
        from{
            display:none;
        }
        to{
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:20px;
            padding-top:2em;
            padding-bottom: 3em;
            background-color: #f0f8ff;
            color:#389cf1;
            visibility: visible;
        }
    }
}
@media (min-width:800px) and (max-width:1000px){ /*tablet*/
    .icon-container,.icon{
        display:none
    }
}
@media (min-width:1000px){  /*desktop*/
    .icon-container,.icon{
        display:none
    }
    .soderjaniye{
        position: absolute;
    }
}
@media (min-width:1000px) and (max-width:1300px){ /*desktop*/
    .AD_cars{
        transform:translateX(30%);
        position:static;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}
@media (min-width:1300px){ /*desktop*/
    .banner{
        display:flex;
        flex-flow: column nowrap;
        align-items:center;
    }
    video{
        width:40vw;
    }
    .soderjaniye{
        position:static;
    }
    .absolute{
        position:absolute;
        z-index: initial;
    }
    #absolute_1{
        top:10em;
    }
    #absolute_2{
        top:30em;
    }
}
nav{
    position:relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(225, 214, 226);
    box-sizing: content-box;
    min-width:100%;
    padding-top:1%;
    padding-bottom:1%;
}
nav img{
    vertical-align: middle;
}
nav button~div{
    cursor:pointer;
}
.log_in{
    display:flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height:40px;

    background-color: green;
    text-decoration: none;
    color:white;
    font-weight:300;
    font-size: large;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}
.log_in:hover{
    text-decoration: none;
}
.flex-end{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
    margin-right:20px
}
#logo{
    display:inline-flex;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: xx-large;
    font-weight: bolder;
    align-items:center;
    cursor:pointer;
}
#drive{
    color:rgb(89, 20, 154)
}
#city{
    color:rgb(12, 113, 12)
}
#drive,#city{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden{
    display:none
}
nav a{
    text-decoration: none;
}
nav a:active{
    background-color: blueviolet;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited{
    text-shadow: darkcyan 1px 1px 10px;
}
.dropdown-menu{
    display:flex;
    visibility: hidden;
}
.dropdown-menu>a{
    text-decoration:none;
}
.nav_icon{
    position:relative;
    width:50px;
    height:50px;
    background-color:#fafafa;
    border-radius: 50%;
}
#support-icon{
    position:absolute;
    top:10%;
    left:10%;
    display:inline;
    width:40px;
}
#notifications #bell{
    position:absolute;
    top:20%;
    left:20%;
    width:30px;
    z-index:0;
}
#notifications #count{
    position: absolute;
    top:0;
    left:60%;
    width:20px;
    border-radius: 50%;
    text-align:center;
    color:white;
    background-color: red;
    z-index:1;
}
#notifications #body{
    display:none;
    position:absolute;
    z-index:1;
    right: 1%;
    top:150%;
    background-color: #f7f7f7;
    border-radius:10px 10px;
    width:20em;
    min-height:50px;
    max-height:max-content;
    font-size: smaller;
}
#notifications #body ol{
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-right:20px;
} 
#notifications #body ol>li{
    margin-block-start: 10px;
}
#notifications #body ol>li::marker{
    color:blue;
    font-size:1.2em;
}
#notifications #body ol>div{
    margin-block-start: 10px;
    font-size:larger;
    font-weight: 900;
    margin-left: 5%;
}
